<script type="text/ng-template" id="updateCategory">
    <div class="modal-header">
        <h4>Изменить категорию</h4>
    </div>
    <div class="modal-body">
        <form role="form" name="form" class="css-form" novalidate>
            <div class="form-group" ng-class="{'true':'form-group has-error', 'false':'form-group has-success'}[form.$invalid]">
                <label class="control-label">Наименование</label>
                <input type="text" class="form-control" name="name" ng-model="updated.name" ng-maxlength=200 required>
            </div>
			<div class="form-group">
				<div class="error" ng-show="form.$dirty && form.$invalid">
					<p class="alert alert-danger" role="alert" ng-show="form.$error.required">
						Не может быть пустым
					</p>
					<p class="alert alert-danger" role="alert" ng-show="form.$error.maxlength">
						Не может быть больше 200 символов
					</p>
				</div>
			</div>
        </form>
    </div>
    <div class="modal-footer">
		<button class="btn btn-danger" ng-click="cancel()">Отмена</button>
        <button class="btn btn-primary" ng-click="update()">Сохранить</button>
    </div>
</script>

<script type="text/ng-template" id="createCategory">
	<div class="modal-header">
		<h4>Добавить категорию</h4>
	</div>
	<div class="modal-body">
		<form role="form" name="form" class="css-form" novalidate>
			<div class="form-group" ng-class="{'true':'form-group has-error', 'false':'form-group has-success'}[form.$invalid]">
				<label class="control-label">Наименование</label>
				<input type="text" class="form-control" name="name" ng-model="CategoryRequest.name" ng-maxlength=200 required>
			</div>
			<div class="form-group">
				<div class="error" ng-show="form.$dirty && form.$invalid">
					<p class="alert alert-danger" role="alert" ng-show="form.$error.required">
						Не может быть пустым
					</p>
					<p class="alert alert-danger" role="alert" ng-show="form.$error.maxlength">
						Не может быть больше 200 символов
					</p>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" ng-click="cancel()">Отмена</button>
		<button class="btn btn-primary" ng-click="save()">Добавить</button>
	</div>
</script>

<script type="text/ng-template" id="deleteCategory">
	<div class="modal-header">
		<h4>Удалить категорию</h4>
	</div>
	<div class="modal-body">
		<form role="form" name="form">
			Подтверждение удаления категории
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" ng-click="cancel()">Отмена</button>
		<button class="btn btn-primary" ng-click="remove()">Удалить</button>
	</div>
</script>