<script type="text/ng-template" id="createProduct">
	<div class="modal-header">
		<h4>Добавить продукт</h4>
	</div>
	<div class="modal-body">
		<form role="form" name="form" class="css-form" novalidate>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group" ng-class="{'true':'form-group has-error', 'false':'form-group has-success'}[form.name.$invalid]">
						<label class="control-label">Наименование</label>
						<input type="text" class="form-control" name="name" ng-model="ProductRequest.name" ng-maxlength=200 required>
					</div>
					<div class="form-group">
						<div class="error" ng-show="form.name.$dirty && form.name.$invalid">
							<p class="alert alert-danger" role="alert" ng-show="form.name.$error.required">
								Не может быть пустым
							</p>
							<p class="alert alert-danger" role="alert" ng-show="form.name.$error.maxlength">
								Не может быть больше 200 символов
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group" ng-class="{'true':'form-group has-error', 'false':'form-group has-success'}[form.kilocalories.$invalid]">
						<label class="control-label">Калорийность</label>
						<input type="text" class="form-control" name="kilocalories" ng-model="ProductRequest.kilocalories" required float-validate>
					</div>
					<div class="form-group">
						<div class="error" ng-show="form.kilocalories.$dirty && form.kilocalories.$invalid">
							<p class="alert alert-danger" role="alert" ng-show="form.kilocalories.$error.required">
								Не может быть пустым
							</p>
							<p class="alert alert-danger" role="alert" ng-show="form.kilocalories.$error.float">
                                Должно быть положительным числом с плавающей точкой
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group" ng-class="{'true':'form-group has-error', 'false':'form-group has-success'}[form.proteins.$invalid]">
						<label class="control-label">Белки</label>
						<input type="text" class="form-control" name="proteins" ng-model="ProductRequest.proteins" required float-validate>
					</div>
					<div class="form-group">
						<div class="error" ng-show="form.proteins.$dirty && form.proteins.$invalid">
							<p class="alert alert-danger" role="alert" ng-show="form.proteins.$error.required">
								Не может быть пустым
							</p>
							<p class="alert alert-danger" role="alert" ng-show="form.proteins.$error.float">
                                Должно быть положительным числом с плавающей точкой
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group" ng-class="{'true':'form-group has-error', 'false':'form-group has-success'}[form.fats.$invalid]">
						<label class="control-label">Жиры</label>
						<input type="text" class="form-control" name="fats" ng-model="ProductRequest.fats" required float-validate>
					</div>
					<div class="form-group">
						<div class="error" ng-show="form.fats.$dirty && form.fats.$invalid">
							<p class="alert alert-danger" role="alert" ng-show="form.fats.$error.required">
								Не может быть пустым
							</p>
							<p class="alert alert-danger" role="alert" ng-show="form.fats.$error.float">
                                Должно быть положительным числом с плавающей точкой
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group" ng-class="{'true':'form-group has-error', 'false':'form-group has-success'}[form.carbohydrates.$invalid]">
						<label class="control-label">Углеводы</label>
						<input type="text" class="form-control" name="carbohydrates" ng-model="ProductRequest.carbohydrates" required float-validate>
					</div>
					<div class="form-group">
						<div class="error" ng-show="form.carbohydrates.$dirty && form.carbohydrates.$invalid">
							<p class="alert alert-danger" role="alert" ng-show="form.carbohydrates.$error.required">
								Не может быть пустым
							</p>
							<p class="alert alert-danger" role="alert" ng-show="form.carbohydrates.$error.float">
                                Должно быть положительным числом с плавающей точкой
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group" ng-class="{'true':'form-group has-error', 'false':'form-group has-success'}[form.category.$invalid]">
						<label class="control-label">Категория</label>
						<select class="form-control" name="category" ng-options="category.name for category in categories" ng-model="ProductRequest.category" required>
							<option value="">-- Выбери категорию --</option>
						</select>
					</div>
					<div class="form-group">
						<div class="error" ng-show="form.category.$dirty && form.category.$invalid">
							<p class="alert alert-danger" role="alert" ng-show="form.category.$error.required">
								Не может быть пустым
							</p>
						</div>
					</div>
				</div>
			</div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" ng-class="{'true':'form-group has-error', 'false':'form-group has-success'}[form.mass.$invalid]">
                        <label class="control-label">Масса добавляемого продукта</label>
                        <input type="text" class="form-control" name="mass" ng-model="ProductMass.mass" required float-validate>
                    </div>
                    <div class="form-group">
                        <div class="error" ng-show="form.mass.$dirty && form.mass.$invalid">
                            <p class="alert alert-danger" role="alert" ng-show="form.mass.$error.required">
                                Не может быть пустым
                            </p>
                            <p class="alert alert-danger" role="alert" ng-show="form.mass.$error.float">
                                Должно быть положительным числом с плавающей точкой
                            </p>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default" ng-click="adjust()">Подогнать</button>
                </div>
            </div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" ng-click="cancel()">Отмена</button>
		<button class="btn btn-primary" ng-click="save()">Добавить</button>
	</div>
</script>

<script type="text/ng-template" id="updateProduct">
	<div class="modal-header">
		<h4>Изменить продукт</h4>
	</div>
	<div class="modal-body">
		<form role="form" name="form" class="css-form" novalidate>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group" ng-class="{'true':'form-group has-error', 'false':'form-group has-success'}[form.name.$invalid]">
						<label class="control-label">Наименование</label>
						<input type="text" class="form-control" name="name" ng-model="updated.name" ng-maxlength=200 required>
					</div>
					<div class="form-group">
						<div class="error" ng-show="form.name.$dirty && form.name.$invalid">
							<p class="alert alert-danger" role="alert" ng-show="form.name.$error.required">
								Не может быть пустым
							</p>
							<p class="alert alert-danger" role="alert" ng-show="form.name.$error.maxlength">
								Не может быть больше 200 символов
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group" ng-class="{'true':'form-group has-error', 'false':'form-group has-success'}[form.kilocalories.$invalid]">
						<label class="control-label">Калорийность</label>
						<input type="text" class="form-control" name="kilocalories" ng-model="updated.kilocalories" required float-validate>
					</div>
					<div class="form-group">
						<div class="error" ng-show="form.kilocalories.$dirty && form.kilocalories.$invalid">
							<p class="alert alert-danger" role="alert" ng-show="form.kilocalories.$error.required">
								Не может быть пустым
							</p>
							<p class="alert alert-danger" role="alert" ng-show="form.kilocalories.$error.float">
                                Должно быть положительным числом с плавающей точкой
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group" ng-class="{'true':'form-group has-error', 'false':'form-group has-success'}[form.proteins.$invalid]">
						<label class="control-label">Белки</label>
						<input type="text" class="form-control" name="proteins" ng-model="updated.proteins" required float-validate>
					</div>
					<div class="form-group">
						<div class="error" ng-show="form.proteins.$dirty && form.proteins.$invalid">
							<p class="alert alert-danger" role="alert" ng-show="form.proteins.$error.required">
								Не может быть пустым
							</p>
							<p class="alert alert-danger" role="alert" ng-show="form.proteins.$error.float">
                                Должно быть положительным числом с плавающей точкой
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group" ng-class="{'true':'form-group has-error', 'false':'form-group has-success'}[form.fats.$invalid]">
						<label class="control-label">Жиры</label>
						<input type="text" class="form-control" name="fats" ng-model="updated.fats" required float-validate>
					</div>
					<div class="form-group">
						<div class="error" ng-show="form.fats.$dirty && form.fats.$invalid">
							<p class="alert alert-danger" role="alert" ng-show="form.fats.$error.required">
								Не может быть пустым
							</p>
							<p class="alert alert-danger" role="alert" ng-show="form.fats.$error.float">
                                Должно быть положительным числом с плавающей точкой
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group" ng-class="{'true':'form-group has-error', 'false':'form-group has-success'}[form.carbohydrates.$invalid]">
						<label class="control-label">Углеводы</label>
						<input type="text" class="form-control" name="carbohydrates" ng-model="updated.carbohydrates" required float-validate>
					</div>
					<div class="form-group">
						<div class="error" ng-show="form.carbohydrates.$dirty && form.carbohydrates.$invalid">
							<p class="alert alert-danger" role="alert" ng-show="form.carbohydrates.$error.required">
								Не может быть пустым
							</p>
							<p class="alert alert-danger" role="alert" ng-show="form.carbohydrates.$error.float">
                                Должно быть положительным числом с плавающей точкой
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group" ng-class="{'true':'form-group has-error', 'false':'form-group has-success'}[form.category.$invalid]">
						<label class="control-label">Категория</label>
						<select class="form-control" name="category" ng-options="category.name for category in categories" ng-model="updated.category" required>
							<option value="">{{updated.category.name}}</option>
						</select>
					</div>
					<div class="form-group">
						<div class="error" ng-show="form.category.$dirty && form.category.$invalid">
							<p class="alert alert-danger" role="alert" ng-show="form.category.$error.required">
								Не может быть пустым
							</p>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" ng-click="cancel()">Отмена</button>
		<button class="btn btn-primary" ng-click="update()">Сохранить</button>
	</div>
</script>

<script type="text/ng-template" id="deleteProduct">
	<div class="modal-header">
		<h4>Удалить продукт</h4>
	</div>
	<div class="modal-body">
		<form role="form" name="form">
			Подтверждение удаления продукта
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" ng-click="cancel()">Отмена</button>
		<button class="btn btn-primary" ng-click="remove()">Удалить</button>
	</div>
</script>